#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center all content vertically */
  background-color: #242424; /* Set the background color here */
}

.header {
  align-items: top;
  /* color: #ffffff; */
}

.center{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;
  gap: 20px; /* Space between input and buttons */
}

.url-input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  margin: auto;
}

