#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center all content vertically */
  background-color: #242424; /* Set the background color here */
}

.header {
  align-items: top;
  /* color: #ffffff; */
}

.center{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;
  gap: 20px; /* Space between input and buttons */
}

.url-input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  margin: auto;
}

.loading-container {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
}

.loading-bar {
  width: 0;
  height: 100%;
  background-color: #4caf50;
  animation: loading 2s infinite;
}

@keyframes loading {
  0% { width: 0%; }
  50% { width: 50%; }
  100% { width: 100%; }
}

.margin-spin {
  margin-top: 25px;
}