@import "tailwindcss";

.navbar {
    background-color:#111827;
}

.footer {
    background-color:#111827;
}

/* for Home.jsx*/
.small-text {
    @apply flex gap-2 text-sm font-medium text-red-600;
}

.head-text {
    @apply mt-4 text-6xl leading-[72px] font-bold tracking-[-1.2px] text-gray-900;
}

.text-primary {
    color: #ff0000;
}

.search-btn {
    @apply px-6 py-3 rounded-lg font-medium text-white transition-colors;
    @apply bg-blue-500 hover:bg-blue-600 disabled:bg-gray-400;
}

.search-input {
    @apply flex-1 min-w-[200px] w-full p-3 border border-gray-300 rounded-lg shadow-xs text-base text-gray-500 focus:outline-none;
}

.download-box {
    @apply relative sm:px-10 py-5 sm:pt-20 pb-5 max-w-[560px] h-[700px] w-full bg-[#F2F4F7] rounded-[30px] sm:mx-auto;
}